<?php

$GLOBALS['TYPO3_CONF_VARS']['DB']['database'] = 'typo3';
$GLOBALS['TYPO3_CONF_VARS']['DB']['username'] = 'typo3';
$GLOBALS['TYPO3_CONF_VARS']['DB']['password'] = 'typo3';
$GLOBALS['TYPO3_CONF_VARS']['DB']['host'] = '127.0.0.1';
$GLOBALS['TYPO3_CONF_VARS']['DB']['port'] = '3306';


if (!isset($GLOBALS['TYPO3_CONF_VARS']['DB']['Connections'])) {
	$GLOBALS['TYPO3_CONF_VARS']['DB']['Connections'] = [];
}
$GLOBALS['TYPO3_CONF_VARS']['DB']['Connections']['Default'] = [
	'charset' => 'utf8',
	'dbname' => 'typo3',
	'driver' => 'mysqli',
	'host' => '127.0.0.1',
	'password' => 'typo3',
	'port' => 3306,
	'user' => 'typo3',
	'initCommands' => 'SET SESSION sql_mode=\'\'',
];

$typo_db = 'typo3';
$typo_db_username = 'typo3';
$typo_db_password = 'typo3';
$typo_db_host = '127.0.0.1';

// SSL settings for the backend login
//
// Relevant Values:
// - 2 - Enforce SSL
// - 0 - Allow any
$GLOBALS['TYPO3_CONF_VARS']['BE']['lockSSL'] = 2;

// Change install tool password to joh316
$GLOBALS['TYPO3_CONF_VARS']['BE']['installToolPassword'] = '$P$CCuX8EzzYaSOHJS5o32X9Uk3Vg79ji1';

// change the systemLog location
$GLOBALS['TYPO3_CONF_VARS']['SYS']['systemLog'] = 'file,/var/www/typo3.log,3';

// show failed sql queries and php errors
if (!isset($GLOBALS['TYPO3_DISABLE_DEBUG'])) {
	$GLOBALS['TYPO3_CONF_VARS']['SYS']['enable_DLOG'] = 0;
	$GLOBALS['TYPO3_CONF_VARS']['SYS']['devIPmask'] = '*';
	$GLOBALS['TYPO3_CONF_VARS']['SYS']['sqlDebug'] = 1;
	$GLOBALS['TYPO3_CONF_VARS']['SYS']['displayErrors'] = 1;
	$GLOBALS['TYPO3_CONF_VARS']['SYS']['enableDeprecationLog'] = 1;
	$GLOBALS['TYPO3_CONF_VARS']['SYS']['errorHandlerErrors'] = E_ALL ^ E_NOTICE;
	$GLOBALS['TYPO3_CONF_VARS']['SYS']['systemLogLevel'] = 0;
	$GLOBALS['TYPO3_CONF_VARS']['SYS']['exceptionalErrors'] = 28674;

	// Don't use this in live instances as normal user may not be allowed to clear the dangerous system cache!
	// Use the following setting for dedicated users/groups to give them the permission.
	// options.clearCache.system = 1
	$GLOBALS['TYPO3_CONF_VARS']['SYS']['clearCacheSystem'] = TRUE;
}

$GLOBALS['TYPO3_CONF_VARS']['GFX']['processor'] = 'ImageMagick';
$GLOBALS['TYPO3_CONF_VARS']['GFX']['processor_path'] = '/usr/bin/';
$GLOBALS['TYPO3_CONF_VARS']['GFX']['processor_path_lzw'] = '/usr/bin/';

// Vagrant specific stuff (if your user has another main group id than 1000, especially required on MacOSX)
$GLOBALS['TYPO3_CONF_VARS']['BE']['createGroup'] = '<%= @group_id %>';

// User mailhog to catch mails
$GLOBALS['TYPO3_CONF_VARS']['MAIL']['transport'] = 'smtp';
$GLOBALS['TYPO3_CONF_VARS']['MAIL']['transport_smtp_server'] = '127.0.0.1:1025';

// Additional project configuration
<%= @additional_configuration %>
